@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);

@font-face {
  font-family: jl;
  src: url(../fonts/jl.ttf);
}

/* @font-face {
  font-family: cwTeXYen;
  src: url(../fonts/cwTeXYen.ttf);
} */

en{
	display: none;
}

#textCount {
	position: absolute;
	left: 19px;
	color: gray;
	bottom: 3px;
	font-size: 12px;
}


.icon-en:hover {
	background-color: rgba(255,255,255, 0.2);
}


.loading {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #3E3A39;
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 200;
}

.loading-box {
	color: white;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-bottom-width: 1px;
	width: 1px;
	height: 30px;
}


body {
	font-family: 'jl','cwTeXYen', sans-serif;
	background-color: #F7F7F7;
	/*overflow: auto;*/
}

section {
	margin-top: 50px;
}

a:hover {
	text-decoration: none;
}

.fix-margin {
	margin-right: 26px !important;
}
.fix-margin2{
	margin-right: 43px !important;
}

/* header*/
.home-pic {
	opacity: 1;
}

.home-pic-mobile {
	display: none;
}


.h-mobile {
	display: none;
	width: 100%;
	height: 50px;
	color: #3E3A39;
	justify-content: space-around;
	background-color: #F7F7F7;
	z-index: 1000;
}

.h-pc {
	width: 100%;
	height: 50px;
	color: white;
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	background-color: #3E3A39;
	z-index: 100;
}

.header-title .ch{
	font-size: 18px;
}

.header-title .en{
	font-size: 8px;
	margin-top: 3px;
}

.header-logo {
	width: 50px;
	height: auto;
	filter: grayscale(100%);
	margin-right: 8px;
}

.header-logo:hover {
	/*background-color: #666;*/
	filter: grayscale(0%);
	cursor: pointer;
	background-color: rgba(255,255,255, 0.2);
}

.header-right {
	margin-right: 8px;
}

.header-right img{
	height: 30px;
	width: auto;
	margin: 7px;
}

.header-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* nav bar*/
nav {
	height: 680px;
	width: 150px;
	width: 1px;
	height:  80%;
	padding: 5vh 5px 5px 5px;
	padding: 0;
	position: fixed;
	top: 53px;
	left: 50px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #3E3A39;
	z-index: 100;
	font-size: 18px;
}

nav .list-contain {
	display: none;
}

nav .info {
	display: none;
}

nav .join-mobile {
	display: none;
}

nav .mobile-nav {
	display: none;
}

@keyframes open-nav
{
	from {left: 5px;}
	to {left: 15px;}
}

.open-nav {
	cursor: pointer;
	display: block;
    color: black;
    font-weight: bold;
    line-height: 1.5;
    position: absolute;
    right: -65px;
    top: 50px;

}

.open-nav img {
	width: 50px;
	height: auto;
	position: relative;
	animation-name: open-nav;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
	/* Firefox: */
	-moz-animation-name: open-nav;
	-moz-animation-duration: 2s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Safari 和 Chrome: */
	-webkit-animation-name: open-nav;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Opera: */
	-o-animation-name: open-nav;
	-o-animation-duration: 2s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-play-state: running;
}



.list-contain {
	letter-spacing: 3px;
	height: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
}

.list-contain li {
	position: relative;
	cursor: pointer;
	list-style-type: none;
	width: 100%;
	
}

.long-dash {
	display: inline-block;
    position: absolute;
    top: 6px;
    left: -41px;
    border-bottom-width: 1px;
    border-color: white;
    width: 10px;
    height: 2px;
    border-style: solid;
    transition: 0.3s;
    opacity: 0;
}


.mobile-fix {
	display: none;
}

.mobile-fix:before {
	content: initial !important;
}

.mobile-fix span {
	/*vertical-align: super;*/
}

.mobile-fix img {
	height: 30px;
	width: auto;
	vertical-align: sub;
}

.info {
	text-align: center;
	vertical-align: center;
	font-size: 16px;
}

.info-box{
	margin-bottom: 10px;
	line-height: 1.2;
}

.info-box img{
 	width: 30px;
	height: auto;
}

.fix {
	margin-bottom: 20px;
}

.fix img {
	width: 18px;
	height: auto;
}

.join{
	text-align: center;
	line-height: 40px;
	color: #231815;
	height: 40px;
	width: 150px;
	background-color: white;
	font-weight: 900;
    font-size: 14px;
}

.join a {
	color: black;
}

/*homepage*/
#homepage {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#homepage img{
	height: 56%;
	width: auto;
}

.footer {
	display: none;
}


/*about*/
#about {
	/* position: relative; */
	z-index: 1;
	height: 100%;
	margin-top: 0px;
	overflow: hidden;
}

.about-bg {
    max-height: 700px;
    width: 50%;
    max-width: 800px;
    background-image: url("../img/about/1.png");
    background-size: cover;
    height: 80vh;
}

.about-container {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}

.about-text {
	padding-right: 10px;
	padding-left: 10px;
	height: 80vh;
	width: 380px;
    max-height: 700px;
    line-height: 2;
    overflow: auto;
}

.about-text-title {
	font-size: 20px;
	text-align: center;
}

.about-toggle {
	width: 60px;
	height: auto;
	top: 0;
	right: 0;
	margin-right: 20px;
	font-size: 20px;
}

.about-toggle-close {
	cursor: pointer;
}

.toggle-close-center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0px;
	top: 0;
	height: 100vh;
	width: 110px;

}


.about-toggle-open {
	cursor: pointer;
}

.about-toggle-mobile {
	display: none;
}

.about-license {
	width: 100vw;
    height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: 100000; */
	font-size: 16px;
	color: white !important;
	background-image: url(../img/about/2.png);
	background-size: cover;
}

.about-license .about-toggle{
	position: absolute;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-thing {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.license-left {
	display: flex;
    width: 60%;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
}

.license-left en{
	display: flex;
    width: 60%;
    justify-content: flex-start;
    flex-wrap: wrap;	
}

.license-left big5{
	display: flex;
    width: initial;
    justify-content: center;
    flex-wrap: initial;	
    padding-bottom: 110px;
}

.license-right {
	padding: 20px 20px 20px 35px;
	height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-left-width: 1px;
    border-style: solid;
}

.license-title {
	/*font-size: 18px;*/
	font-size: 26px;
    color: #BBB;
}

.right-title {
	margin-bottom: 3px;
}

.flex-thing {
	height: 300px;
	text-align: center;
}

.license-item {
	cursor: pointer;
}

.license-item img{
	width: 6px;
}

.about-light-box {
	top: 0;
    left: 0;
	position: absolute;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background-color: #3E3A39;
	display: flex;
	justify-content: center;
	align-items: center;
}

.light-box-img {
	width: auto;
	height: 90%;
}

.light-box-close {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
	height: auto;
	cursor: pointer;
}

.license-left {
	line-height: 2;
}

/*collection*/
#portfolio {
    height: 70vh;
}

.collection-menu-mobile {
	display: none;
}

.collection-container {
	margin-left: 27vw;
	width: 70%;
	height: 70vh;
}

.collection-menu {
	position: relative;
}

.collection-menu div {
	cursor: pointer;
	position: absolute;
	height: 75vh;
	top: 0;
	background-size: cover;	
	display: flex;
	align-items: center;
	justify-content: center;
	filter: brightness(0.5);
	transition: 0.3s;
}

.collection-menu div:hover {
	filter: brightness(1);
}

.col-menu-title {
	white-space: nowrap;
	position: relative;
	text-align: center;
	width: 50%;
	color: white;
	font-size: 16px;
	letter-spacing: 3px;
	line-height: 40px;
}

#col-1 p {
	right: 3vh;
}

#col-2 p {
	right: -2vh;
}

#col-3 p {
	right: -1.5vh;
}

#col-4 p {
	right: 2vh;
}

#col-5 p {
	right: -4vh;
}


#col-1 {
	width: 27vh;
	left: 0;
}

#col-2 {
	width: 30.2vh;
	left: 15.4vh;
}
#col-3 {
	width: 25.3vh;
	left: 39.4vh;
}
#col-4 {
	width: 30.4vh;
	left: 63.3vh;
}
#col-5 {
	width: 29vh;
	left: 83.6vh;
}


.collection-detail {
	display: none;
	padding-top: 100px;
	padding-left: 300px;
	height: 100%;
	z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    max-width: 1200px;
}

.col-detial-title {
	line-height: 30px;
	width: 100%;
	border-style: solid;
	border-bottom-width: 1px;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}

.col-projects {
	overflow-y: auto;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-height: 75vh;
}

.project-dot {
	width: 25px;
	height: auto;
	position: absolute;
	right: 2px;
	bottom: 27px;
	display: none;
}

.project-item {
	position: relative;
	cursor: pointer;
	margin: 10px;
	filter: brightness(0.6);
	transition: 0.3s;
	width: 200px;
    height: 250px;
}

.project-item:hover {
	filter: brightness(1);	
}

.p-item-img{
	margin-bottom: 10px;
	width: 100%;
	height: 200px;
	background-size: cover;
	background-position: center;
}

.project-item .date{
	font-size: 12px;
	line-height: 20px;
}

.collection-detial-close {
	cursor: pointer;
	width: 50px;
	height: auto;
	position: absolute;
	left: 240px;
}


.collection-item-detial {
	display: none;
	padding-top: 100px;
	padding-left: 250px;
	height: 100%;
	z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    max-width: 1200px;
}

.col-item-detial-container {
	display: flex;
	justify-content: center;
    align-items: flex-start;
}

.col-detail-image {
	transition: background-image 0.5s;
    width: 60vw;
    height: 65vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.item-detial-date {
	font-size: 14px;
	line-height: 25px;
}

.item-detial-name {
	font-size: 22px;
	margin-bottom: 20px;
}

.col-img-list {
	margin-left: 30px;
    height: 70vh;
    overflow-y: auto;
    width: 190px;
}

.col-img-list img{
	cursor: pointer;
	width: 150px;
	background-size: cover;
	margin-bottom: 15px;
	filter: brightness(0.6);
	transition: 0.3s;
	background-position: center;
}

.col-img-list img:hover{
	filter: brightness(1);
}

.collection-item-detial-close {
	width: 30px;
	height: auto;
	position: absolute;
	right: 0;
	top: initial;
	cursor: pointer;
}

/*team*/
#team {
	
}

.team-container {
	margin-left: 280px;
	padding-right: 20px;
}

.team-upper{
	height: 50vh;
	border-bottom-width: 1px;
    border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.team-close {
	display: none;
}

.item-set {
	margin: 20px;
	font-size: 22px;
}

.team-upper .item-img{
	max-height: 40vh;
	height: auto;
}

.team-down {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;
}

.team-mobile {
	display: flex;
	align-items: center;
}

.team-down .team-item {
	cursor: pointer;
	position: relative;
	max-width: 100px;
	margin: 10px;
	overflow: hidden;
	filter: brightness(0.6);
}

.team-down .team-item .item-img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.team-down .team-item:hover{
	position: relative;
	filter: brightness(1);
}

.team-down .team-item div.active{
	max-width: 120px;
	top: -10px;
	max-width: 120px;
	color: white;
	background-color: #3E3A39;
	padding: 10px;
	box-sizing: border-box;
	filter: brightness(1);
}

.item-dot {
	display: none;
	width: 18px;
	height: auto;
	position: absolute;
	right: 0;
	bottom: 10px;
}

.item-detial ul{
	margin-top: 10px;
	line-height: 1.5;
    letter-spacing: 1px;
}

/*visit*/
.visit-container {
	height: 70vh;
	margin-top: 50px;
	margin-left: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.map-info {
	line-height: 50px;
	text-align: center;
	min-width: 300px;
	width: 40%;
    max-width: 350px;
    margin: 20px;
} 

.map-title {
	font-size: 40px;
}

.map-address {
    border-style: solid;
    border-bottom-width: 1px;
    font-size: 20px;
}

.map-address en {
	line-height: 21px;
	padding-bottom: 10px;
	font-size: 15px;
}

.map-pic {
	margin-top: 20px;
	width: 80px;
	height: auto;
	filter: brightness(1.5);
}

.map-pic:hover {
	filter: brightness(1);	
}

.visit-info {
	display: none;
}

/*custom*/
.customer-container {
	height: 100%;
    margin-left: 300px;
    margin-bottom: 50px;
}

.custom-title {
	font-weight: bold;
	color: #000093;
	font-size: 20px;
	max-width: 300px;
	width: 80%;
	border-color: #000093;
	border-style: solid;
	border-bottom-width: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

.custom-item {
	filter: grayscale(100%);
	display: inline-block;
	width: 150px;
	height: auto;
	margin: 15px;
	vertical-align: middle;
}

.custom-item:hover {
	filter: grayscale(0);
}

/*message*/
.massage-container {
	margin-left: 300px;
    height: 70vh;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.fb-comments {
	width: 80%;
}


/*fix*/
.fix {
	cursor: pointer;
}


.fix-container {
	height: 100%;
    width: 60%;
    padding: 0 0 30px 30vw;
}

/*.fix-list-title:before {
	background-image: url("../img/repairs-icon.png");
	background-size: 25px 25px;
	display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
    margin-right: 10px;
}*/

.fix-container input{
	padding-left: 6px;
	border-radius: 3px;
	font-family: 'jl','cwTeXYen', sans-serif;
}

input[type=text], input[type=tel], input[type=email]{
	border: 1px solid gray;
    border-radius: 4px;
}


textarea {
	padding-left: 6px;
	border-radius: 3px;
	font-family: 'jl','cwTeXYen', sans-serif;
}


.fix-header {
	text-align: center;
	line-height: 45px;
	width: 100%;
	height: 45px;
	color: #3E3A39;
	font-size: 30px;
}

.msg-header {
	text-align: left;
	line-height: 45px;
	width: 78%;
	height: 45px;
	color: #3E3A39;
	font-size: 22px;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: black;
}

input.fix-title {
	height: 34px;
	border-radius: 8px;
}


.fix-title {
	text-align: center;
	width: 100%;
	color: white;
	border-radius: 5px;
	background-color: #3E3A39;
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 2px;
}

.fix-list {
	margin: 22px 0;
	font-size: 18px;
	position: relative;
}

.fix-list-title {
	display: inline-block;
	margin-right: 10px;
	/* margin-bottom: 20px; */
}


.fix-list input, .fix-list textarea{
	/* margin-left: 10px; */
	width: 403px;
    font-size: 17px;
    height: 23px;
    display: inline-block;
}

.fix-list textarea {
	height: 100px;
	/* width: 400px; */
	border-radius: 6px;
	border: 1px solid gray;
}

.sex-btn {
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
	width:  60px;
	height: 25px;
	color: white;
	border-radius: 8px;
	background-color: #CCC;
	font-size: 16px;
	text-align: center;
	font-family: 'jl','cwTeXYen', sans-serif;
	line-height: 25px;
}

.sex-group {
	display: inline-block;
}

.sex-btn.active {
	background-color: #3E3A39;
}

#usrform {
	position: relative;
}

.fix-pic {
	width: 100px;
	height: auto;
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: -1;
}

.upl {
	padding: 25px 0;
}


.upload-group {
	cursor: pointer;
	position: relative;
	margin: 20px 0;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 8px;
	border-style: solid;
	border-color: #EEE;
	border-width: 1px;
}

.upload-group input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	border-radius: 5px;
	background-color: #3E3A39;
	font-size: 22px;
	width: 100px;
	height: 100px;
	opacity: 0;
	z-index: 50;
}

.upload-group img {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	max-height: 100px;
}

.fix-upload {
	margin-bottom: 0;
	width: 50%;
}

.jFiler-input-button {
	display: none;
}

.jFiler-input{
	border-style: none !important;
    background-color: #3E3A39 !important;
    width: 100px !important;
    height: 30px !important;
    color: white !important;
    font-size: 15px !important;
    line-height: 30px !important;
    text-align: center !important;
}

.fix-alert {
	line-height: 1.5;
	font-size: 18px;
	border-radius: 8px;
	width: 400px;
	height: 250px;
	background-color: white;
	position: absolute;
	top: 31vh;
	left: 40vw;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.alert-ok {
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: white;
	background-color: #3E3A39;
	width: 80px;
	height: 30px;
	border-radius: 5px;

}

.about-license-title {
	width: 300px;
    font-size: 80px;
    line-height: 1;
    font-weight: 100;
    position: absolute;
    bottom: 40px;
    left: 17vw;

}

@media screen and (max-width: 1250px) {
	.collection-container {
		margin-left: 27vw;
	}

}


@media screen and (max-width: 1200px){
	.collection-menu div {
		height: 64vh;
	}

	.col-menu-title {
		font-size: 16px;
	}

	#col-1 p {
		right: 3vh;
	}

	#col-2 p {
		right: -2vh;
	}

	#col-3 p{
		right: -1.5px;
	}

	#col-4 p {
		right: 2vh;
	}

	#col-5 p {
		right: -4vh;
	}


	#col-1 {
		width: 23vh;
		left: 0;
	}

	#col-2 {
		width: 26.2vh;
		left: 13.2vh;
	}
	#col-3 {
		width: 21.3vh;
		left: 34vh;
	}
	#col-4 {
		width: 26vh;
		left: 54.1vh;
	}
	#col-5 {
		width: 24vh;
    	left: 71.32vh;
	}
}

@media screen and (min-width: 1200px){
	.col-menu-title {
		font-size: 22px;
	}
}

@media screen and (max-width: 1130px) {
	.collection-container {
		/*margin-left: 23vw;*/
	}
	.col-menu-title {
		letter-spacing: 1px;
	}

}

@media screen and (max-width: 1055px) {
	.collection-container {
		margin-left: 25vw;
	}
	.license-item {
		font-size: 18px;
	}

	#portfolio {
		margin-top: 80px;
	}
}


@media screen and (max-width: 1000px){
	.col-menu-title {
		letter-spacing: 0px;
	}

	.collection-menu div {
		height: 53vh;
	}

	.col-menu-title {
		font-size: 16px;
	}

	#col-1 p {
		right: 3vh;
	}

	#col-2 p {
		right: -2vh;
	}

	#col-3 p{
		right: -1.5px;
	}

	#col-4 p {
		right: 2vh;
	}

	#col-5 p {
		right: -4vh;
	}


	#col-1 {
		width: 19vh;
		left: 0;
	}

	#col-2 {
		width: 21.6vh;
		left: 11vh;
	}
	#col-3 {
		width: 18vh;
		left: 28.3vh;
	}
	#col-4 {
		width: 21.5vh;
		left: 45.5vh;
	}
	#col-5 {
		width: 21vh;
    	left: 59.9vh;
	}
	.collection-container {
		margin-left: 29vw;
	}
	#portfolio {
		margin-top: 100px;
	}
}


@media screen and (max-width: 900px) {
	.license-left big5{
		display: flex;
	    width: initial;
	    justify-content: flex-start;
	    flex-wrap: wrap;
	    padding-bottom: 110px;
	    padding-left: 108px;
	}

	.about-license-title {
		width: 250px;
	}
}

/* mobile */
@media screen and (max-width: 800px) {
	section {
		margin: 0;
		padding-top: 100px;
	}



	.home-pic {
		display: none;
	}

	.h-pc {
		display: none;
	}

	.h-mobile {
		top: 0;
		display: flex;
		height: 100px;
		align-items: center;
		z-index: 100;
		justify-content: flex-end;
		flex-direction: row-reverse;
		position: fixed;
	}

	.header-right img{
		height: 30px;
		margin-left: 30px;
	}

	.mobile-title {
		font-size: 31px;
		margin-left: 20px;
	}

	nav {
		display: none;
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: initial;
		padding: 0;
		top: 0;
		left: 0;
		font-size: 25px;
	}

	nav .info{
		display: none;
	}

	nav .join-mobile {
		display: block;
		text-align: center;
		line-height: 60px;
		color: #231815 !important;
		height: 60px;
		width: 100%;
		background-color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 22px;
		font-weight: 900;
	}

	.join-mobile a {
		color: black;
	}

	nav .mobile-nav {
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
		flex-direction: row-reverse;
	}

	nav .mobile-nav img{
		width: 50px;
	}

	nav .mobile-link img{
		width: 30px;
		height: auto;
	}

	.list-contain {
		width: 100%;
		height: 70vh;
		margin: 0;
		padding-left: 31%;
		padding: 0;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    text-align: center;
	}

	.list-contain li {
		height: 10vh;
    	line-height: 10vh;
	}

	.list-contain li:active {
		background-color: white;
		color: black;
	}

	.mobile-fix {
		display: block;

	}

	.footer {
		display: flex;
		height: 90px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #3E3A39;
		justify-content: space-around;
		align-items: center;
	}

	.footer .header-title{
		color: white;
	}

	#about {
		height: initial;

	}


	.about-container {
		flex-direction: column;
		height: initial;
		padding-top: 0;
	}

	.about-bg {
		max-width: initial;
		width: 100%;
		height: 40vh;
		margin-bottom: 20px;
	}

	.about-toggle {
		display: none;
	}

	.about-text {
		line-height: 1.5;
		width: 90%;
		height: initial;
		overflow: initial;
		margin-bottom: 100px;
	}

	.about-toggle-mobile {
		display: flex;
		width: 100%;
		background-color: #3E3A39;
		height: 60px;
		position: fixed;
		bottom: 0;
		justify-content: center;
		align-items: flex-end;
	}

	.about-toggle-mobile img {
		width: 90px;
		height: auto;
	}

	.about-license-mobile {
		font-size: 18px;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		color: white;
		background-color: #3E3A39;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		line-height: 1.5;
	}

	.about-license-title {
		width: 120px;
		position: absolute;
	    top: 25px;
	    font-size: 24px;
	    line-height: 27px;
	    left: 25px;
	    color: gray;
	    line-height: initial;
	}

	.about-license-mobile-close {
		position: absolute;
		left: 37%;
		top: 0;
    	width: 100px;
	}

	.about-license-mobile-container {
		width: 80%;
		height: 80vh;
		overflow-y: auto;
		margin-top: 45px;
		line-height: 33px;
	}

	.about-mobile-thing{
		border-style: solid;
		border-color: white;
		border-top-width: 1px;
		text-align: center;
		margin-top: 20px;
		padding-top: 20px;
	}

	.about-mobile-thing div{
		margin-bottom: 10px;
		line-height: 21px;
	}

	.about-light-box{
		overflow: auto;
	}

	.light-box-img {
		width: 100%;
		height: auto;
	}

	#portfolio {
    	height: 86vh;
    	margin: 0;
    	overflow-y: auto;
	}


	.collection-container {
		margin-left: initial;
    	width: 100%;
    	height: initial;
	}

	.collection-detail {
		padding-top: 0px;
		width: 100%;
		padding-left: 0px;
		position: static;
	}

	.col-detail-image {
		height: 45vh;
	    width: 100vw;
	    margin-bottom: 15px;
	}

	.collection-item-detial {
		color: white;
		font-size: 20px;
		padding-left: 0px;
		width: 100%;
		/*overflow-y: auto;*/
		position: static;
		padding-top: 0px;
	}

	.collection-detial-close {
    	left: initial;
    	cursor: pointer;
    	position: absolute;
	    right: 10px;
	    top: 30px;
	    z-index: 500;
	}

	.collection-item-detial p {
		display: inline-block;
		margin: 10px;
		color: #3E3A39;
	}

	.collection-menu {
		display: none;
	}

	.collection-menu-mobile {
		display: flex;
		flex-direction: column;
		height: 95vh;

	}

	.col-item-detial-container {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.collection-menu-mobile div {
		height: 19vh;
		background-size: cover;
		position: relative;
		background-position: center;
	}

	.col-img-list {
		margin: 0;
		padding-left: initial;
		background-color: #F7F7F7;
		display: flex;
	    overflow: auto;
	    height: 80px;
	    width: 100%;
	}

	.col-img-list img {
		display: inline-block;
		margin-right: 5px;
		width: 100px;
		height: auto;
		background-position: center;
	}

	.col-img-list img:nth-child(odd) {
		float: left;
	}

	.col-img-list img:nth-child(even) {
		float: right;
	}

	.col-menu-title {
		position: absolute;
		bottom: 0;
	}

	.black-bg {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 50%;
		height: 20vh;
		background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0));
	}

	.customer-container {
		margin: 0px 0px 0px 20px;
	}

	#m-col-3 p{
		bottom: 5px;
	}

	#m-col-4 p{
		bottom: 10px;
	}

	#m-col-5 p{
		bottom: 20px;
	}

	.team-container {
		margin-left: 20px;
	}

	.team-upper {
		display: none;		
		height: 100vh;
		width: 100%;
		color: white;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #3E3A39;
		z-index: 50;
		padding-top: 110px;
		padding-bottom: 20px;
		overflow: hidden;
	}

	.team-upper .item-img {
	    width: 50%;
		min-width: 150px;
		max-height: initial;
		height: auto;
		height: auto;
	}

	.team-close {
		position: absolute;
	    right: 10px;
	    width: 30px;
	    top: 80px;
	    display: block;
	}

	.team-down .team-item {
		width: 150px;
		max-width: initial;
	}

	.team-mobile {
		justify-content: space-around;
	}

	.item-detial {
		margin-top: 20px;
		color: #3E3A39;
		background-color: #F7F7F7;
		padding: 20px;
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 1.5;
		height: 100%;
	}

	#location {
		padding-bottom: 50px;
	}

	.visit-container {
		margin: 0;
		padding-top: 0px;
		margin-left: 0;
		flex-wrap: wrap-reverse;
		height: initial;
	}

	.map-address {
		border-width: 0px;
		font-weight: initial;
		line-height: 1;
	}

	iframe {
		width: 100%;
		height: 72vh;
	}

	.visit-info {
		text-align: center;
		color: white;
		display: block;
	    background-color: #3E3A39;
	    width: 100%;
	    padding: 10px;
	}

	.visit-info img{
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 5px;
		width: 40px;
		height: auto;
	}

	.m-info-up {
		border-style: solid;
		border-color: white;
		border-bottom-width: 1px;
		padding: 8px;
	}


	.info-center {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		position: fixed;
    	bottom: 0;
	}

	.massage-container {
		margin-left: 0px;
		width: 100%;
		margin-top: 0px;
	}


	.fix-container {
		padding: 20px;
		margin-top: 0px;
		height: initial; 
     	width: initial; 
     	float: initial; 
     	padding: initial; 
	}

	.fix-list {
		padding-left: 20px;
	}

	.fix-list textarea{

		width: 80%;
	}

	.fix-title{
		width: 90%;
		margin: auto;
	}

	.upload-group {
		width: 90px;
		height: 90px;
	}

	.fix-list-title {
		/* font-size: 24px; */
		/* padding-bottom: 10px;
		margin-bottom: 10px; */
	}

	.sex-group {
		margin-top: 10px;
	}

	.p-item-img{
		
		height: 200px;
	}

	.fix-header {
		color: white;
	    background-color: #3E3A39;
	}

	.msg-header {
		display: none;
	}

	.fix-list input, .fix-list textarea{
		width: 65vw !important;
	}

	form :first-child input{
		width: 26vw !important;
	}

	.fix-pic {
		display: none;
	}

	#homepage {
		height: initial;
	}

	#homepage img[src*="title"]{
		padding-bottom: 13vh;
	}

	.home-pic-mobile {
		/* margin-top: 100px; */
		display: block;
		height: 300px !important;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -150px;
	    margin-left: -130px;
	}

	.map-pic {
		display: none;
	}

	.map-title {
		font-size: 30px;
	}

	.long-dash {
		display: none;
	}

	nav .list-contain {
		display: block;
	}

	nav .info {
		display: none;
	}

	.collection-item-detial-close {
		width: 35px;
		top: 28px;
		z-index: 500;
	}

	.custom-item {
		filter: grayscale(0%);
	}

	.fix-alert {
		width: 100%;
		position: fixed;
		top: 34vh;
		left: initial;
		display: none;
	}
	#homepage img{
		height: 50%;
	}

	.col-detial-title  {
		width: 90%;
		margin-bottom: 20px;
	}

	.project-item {
		width: 100%;
		margin: 0;
	}

	.col-projects {
		overflow: initial;
	}

	.custom-title {
		margin-top: 0px;
	}

	.map-info {
		display: none;
	}

	.close-mobile-nav {
		width: 40px !important;
	}

	#textCount {
		left: 20px;
	}

	input[type=submit]{
		margin-left: 4%;
	    width: 92%;
	    margin-bottom: 4%;
	}
}


@media screen and (max-width: 390px) {
	.custom-item {
		display: block;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;
	}
	.sex-btn{
		margin-left: 2px;
		width: 46px;
    	border-radius: 5px;
	}
}

@media screen and (max-width: 350px) {
	.fix-list input, .fix-list textarea{
		width: 187px !important;
	}
}